---
// Copyright (c) Pascal Brand
// MIT License

import './neon.scss'
---

<div class="local-neon webtools-neon webtools-neon__container">
    <slot/>
</div>


<style lang="scss">


.local-neon {
  font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
  font-weight: 900;
  font-size: 3rem;
}

</style>