---
// Copyright (c) Pascal Brand
// MIT License

import './webtools-neon.scss'

import type { HTMLAttributes } from 'astro/types';
interface Props extends HTMLAttributes<"div"> {
  colorR ?: string,
  colorG ?: string,
  colorB ?: string,
  speed ?: string,
  rotate ?: string,
}

const {
  class: className = '',
  style = '',
  colorR: webtoolsNeonR = '0',
  colorG: webtoolsNeonG = '0',
  colorB: webtoolsNeonB = '0',
  speed: webtoolsNeonSpeed = '0.25s',
  rotate: webtoolsNeonRotate = '-20deg',
  ...props
} = Astro.props;

---

<div
  style=`${style}`
  class={className + " webtools-neon webtools-neon__container"}
  {...props}>
    <slot/>
</div>


<style define:vars={{ webtoolsNeonR, webtoolsNeonG, webtoolsNeonB, webtoolsNeonSpeed, webtoolsNeonRotate }}>
</style>
