---
// Copyright (c) Pascal Brand
// MIT License

import './webtools-neon.scss'

import type { HTMLAttributes } from 'astro/types';
interface Props extends HTMLAttributes<"div"> {
  colorR ?: string,
  colorG ?: string,
  colorB ?: string,
  speed ?: string,
  rotate ?: string,
}

const {
  class: className = '',
  style: styleProps = '',
  colorR,
  colorG,
  colorB,
  speed,
  rotate,
  ...props
} = Astro.props;


function createVarStyle(styleProps:any, varsDesc:any) {
  let style = styleProps;
  varsDesc.forEach((varDesc:any) => varDesc.value && (style+=`${varDesc.var}:${varDesc.value};`))
  return style
}

const style = createVarStyle(styleProps, [
  { var: '--wt-neon-R', value: colorR},
  { var: '--wt-neon-G', value: colorG},
  { var: '--wt-neon-B', value: colorB},
  { var: '--wt-neon-speed', value: speed},
  { var: '--wt-neon-rotate', value: rotate},
])

---

<div
  style=`${style}`
  class={className + " webtools-neon webtools-neon__container"}
  {...props}>
    <slot/>
</div>
