:root {
  --sl-sidebar-width: 10rem;
  --sl-content-width: 1024px;
  --sl-text-5xl: 33.5rem;
}

.sl-markdown-content .inline-icon {
  display: inline;
}


.demo-2cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.demo-col {
  margin-top: 0 !important;
  min-width: 0;  /* col without shrinking - ensure all cols have same width */
}

.demo-handwritting {
  font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
}
.demo-font-xl {
  font-weight: 900;
  font-size: 1.6rem;
}
