---
// Copyright (c) Pascal Brand
// MIT License

---

<div class="astro-dev-center not-content">
  <slot/>
</div>

<style>
  .astro-dev-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
