---
// Copyright (c) Pascal Brand
// MIT License

import { Nav } from 'astro-webtools'
import './default-variables.scss'

---

<Nav class="not-content">
  <li><a href="#">Home</a></li>
  <li><a href="#">Link</a></li>
  <li><a href="#">Contact</a></li>
</Nav>

<style is:global lang="scss">
  @use './breakpoints.scss';
  @use '../../../../../node_modules/astro-webtools/src/components/nav/webtools-nav.scss' with (
    $webtools-nav-hamburger-max-width: breakpoints.$wt-size-s-to,
  );
</style>
