---
// Copyright (c) Pascal Brand
// MIT License

import './default-variables.scss'
// import './webtools-navpurecss.scss'

// import { webtools } from '../../index'
// import { webtools } from 'astro-webtools'
// import type { HTMLAttributes } from 'astro/types';

// const propsToVars: webtools.PropsToVars = [
//   { var: '--wt-neon-R',      prop: "colorR"},
//   { var: '--wt-neon-G',      prop: "colorG"},
//   { var: '--wt-neon-B',      prop: "colorB"},
//   { var: '--wt-neon-speed',  prop: "speed" },
//   { var: '--wt-neon-rotate', prop: "rotate"},
// ]
// interface PrivateProps {
//   colorR ?: string,
//   colorG ?: string,
//   colorB ?: string,
//   speed ?: string,
//   rotate ?: string,
// }

// interface Props extends HTMLAttributes<"nav">, PrivateProps {}

const {
  class: className = '',
  style = '',
  ...props
} = Astro.props;

---

<nav
  style={style}
  class={className + " webtools-navpurecss"}
  {...props}>
  <div>
    <span class="logo webtools-show-hamburger-only">Menu</span>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="hamburger"></span></label>
    <ul class="menu">
      <slot/>
    </ul>
  </div>
</div>
