/*****************************************************************
 * MENU PURECSS, by webtools
 * From https://codepen.io/mutedblues/pen/MmPNPG
 *
 * To be used with <nav class="webtools-navpurecss">
 *****************************************************************/

// $webtools-navpurecss-align : var(--wt-navpurecss-align, right) !default;     // align the menu on right by default
// // $webtools-navpurecss-hamburger-max-width : var(--wt-navpurecss-hamburger-max-width, var(--wt-size-s-to)) !default;       // max size for the hamburger
// // $webtools-navpurecss-hamburger-max-width : var(--wt-size-s-to)  !default;       // max size for the hamburger
// $webtools-navpurecss-hamburger-max-width : 200px  !default;       // max size for the hamburger

// $webtools-secondary-background-color: var(--wt-secondary-background-color) !default;
// $webtools-tertiary-background-color: var(--wt-tertiary-background-color)  !default;


.webtools-navpurecss {     /* line, not in the menu */
  z-index: 3;   /* have the menu in front of the image in galerie-photos */
  position: relative;
  width: 100%;

  height: 28px;
  line-height: 28px;
  background-color: $webtools-secondary-background-color;

  /* line on the menu, where the buttons are*/
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: $webtools-secondary-background-color;
  }

  /* each "button" on the menu. This is the same for the printed menu and for the hamburger menu */
  li a {
    display: block;
    /* to add a border at each button:    border-right: 1px solid #f4f4f4; */
    color: inherit;   /* color: inherit; otherwise, color for links are used, that is Blue */
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    z-index: 3;
  }

  @media only screen and (max-width: $webtools-navpurecss-hamburger-max-width) {
    li a {
      padding: 0px 20px 0px 20px;
    }
  }
  @media only screen and (min-width: 830px) {
    li a {
      padding: 0px 20px 0px 20px;
    }
  }
  li:last-child a {
    padding-right: 20px;    // if the last is too small, the scroller is ont top of it
  }


  /* color of the "button" when we are hover */
  li a:hover, .menu-btn:hover {
    background-color: $webtools-tertiary-background-color;
  }

  /* Position of the logo */
  .logo {
    display: block;
    float: left;
    text-decoration: none;
    padding: 0;
    margin-left: 20px;
  }

  /* menu
    - navicon are the 3bars of the hamburger that are spanned
      there is a transition to transform them in a cross when we click on it
    - menu-icon is related to the span
    - menu-btn is a checkbox button, to correctly display the hamburger
    */

  .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  /* menu icon */

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: left;
    padding: 13px 20px;    /* 13 as webtools-navpurecss height is 28px, and heigh of navicon is 2px (13+13+2=28).
                              20px for sufficient space */
    position: relative;
    user-select: none;
  }

  .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }

  .menu-icon .navicon:before,
  .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .menu-icon .navicon:before {
    top: 5px;
  }

  .menu-icon .navicon:after {
    top: -5px;
  }

  /* menu btn */

  .menu-btn {
    display: none;
  }

  .menu-btn:checked ~ .menu {
    max-height: 240px;
  }

  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  @media only screen and (min-width: $webtools-navpurecss-hamburger-max-width) {
    // here, the menu is NOT an hamburger
    li {
      float: left;
      background-color: blue;
    }
    .menu {
      clear: none;
      float: $webtools-navpurecss-align;
      max-height: none;
    }
    .menu-icon {
      display: none;
    }

    .webtools-show-hamburger-only {
      display: none !important;
    }
  }
}
