/*****************************************************************
 * MENU PURECSS, by webtools
 * From https://codepen.io/mutedblues/pen/MmPNPG
 *
 * To be used with <nav class="webtools-navpurecss">
 *****************************************************************/

$webtools-secondary-background-color: var(--wt-secondary-background-color) !default;
$webtools-tertiary-background-color: var(--wt-tertiary-background-color) !default;
$webtools-navpurecss-align : right !default; // aligh the menu on right by default
$webtools-navpurecss-hamburger-max-width : 600px !default; // max size for the hamburger

.webtools-navpurecss {
  /* line, not in the menu */
  z-index: 3;
  /* have the menu in front of the image in galerie-photos */
  position: relative;
  width: 100%;

  height: 28px;
  line-height: 28px;
  background-color: $webtools-secondary-background-color;

  /* line on the menu, where the buttons are*/
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }

  /* each "button" on the menu. This is the same for the printed menu and for the hamburger menu */
  li a {
    display: block;
    color: inherit;
    background-color: $webtools-tertiary-background-color;    // color when the hamburger is opened
    /* color: inherit; otherwise, color for links are used, that is Blue */
    text-decoration: none;
    padding: 0px 20px 0px 20px;
    z-index: 3;
  }

  li:last-child a {
    padding-right: 20px; // if the last is too small, the scroller is on top of it
  }


  /* color of the "button" when we are hover */
  li a:hover,
  .menu-btn:hover {
    background-color: $webtools-tertiary-background-color;
  }

  /* Position of the logo */
  .logo {
    display: block;
    float: left;
    text-decoration: none;
    padding: 0;
    margin-left: 20px;
  }

  /* menu
   - hamburger are the 3bars of the hamburger that are spanned
     there is a transition to transform them in a cross when we click on it
   - menu-icon is related to the span
   - menu-btn is a checkbox button, to correctly display the hamburger
   */

  .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  /* menu icon */

  .menu-icon {
    cursor: pointer;
    float: left;
    padding: 13px 20px;
    /* 13 as webtools-navpurecss height is 28px, and heigh of hamburger is 2px (13+13+2=28).
                             20px for sufficient space */
    position: relative;
  }


  /* menu btn */

  .menu-btn {
    display: none;
  }

  .menu-btn:checked~.menu {
    max-height: 100vh;
  }


  // hamburger: made of 3 bars, of 2px height each
  // - top bar is ::before
  // - central bar is in the normal block
  // - bottom bar in ::after
  .hamburger, .hamburger:before, .hamburger:after {
    position: relative;
    background: #333;
    display: block;
    height: 2px;
    transition: all .2s ease-out;
    width: 18px;
    content: '';
  }
  .hamburger:before { position: absolute; top: 5px; }
  .hamburger:after  { position: absolute; top: -5px; }

  // when hamburger is opened, the central bar (.hamburger) disappears,
  // and the top and bottom bar (:before and :after) are rotated
  .menu-btn:checked~.menu-icon .hamburger        { background: transparent; }
  .menu-btn:checked~.menu-icon .hamburger:before { transform: rotate(-45deg); top:0; }
  .menu-btn:checked~.menu-icon .hamburger:after  { transform: rotate(45deg);  top:0; }


  @media only screen and (min-width: ($webtools-navpurecss-hamburger-max-width + 1)) {

    // here, the menu is NOT an hamburger
    li {
      float: left;
    }

    li a {
      padding: 0px 20px 0px 20px;
    }

    .menu {
      clear: none;
      float: $webtools-navpurecss-align;
      max-height: none;
    }

    .menu-icon {
      display: none;
    }

    .webtools-show-hamburger-only {
      display: none !important;
    }
  }
}